</br>
</br>
</br>
</br>
</br>
</br>
<div style="margin:40px">
<h1 style="text-align:center">Admin Dashboard</h1>
<h1>Page Content</h1><br/>

  <ul id="list">
  <% contents.each do |content| %>
      <li>
        <h3>Page Title:</h3><span id="title">
        <%= content[:page] %><br/></span><br/>
        <h3>Content:</h3><span id="content">
        <div class="truncate"><%= content[:content] %><br/></div></span>

        <a href="/<%= content[:id] %>/edit">Edit</a>
      </li><br/>

    <% end %>

  </ul>
<h1>Products</h1><br/>
<table id="product-table">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Size</th>
      <th>Image</th>
      <th>Price</th>
      <th>Options</th>
    </tr>
        <% products.each do |product| %>
        <tr>
          <td><%= product[:id] %></td>
          <td><%= product[:name] %></td>
          <td><%= product[:size] %></td>
          <td><%= product[:image] %></td>
          <td><%= product[:price] %></td>
          <td class="edit-button"><a style="margin-right:5px" href="/product/<%= product[:id] %>/edit">Edit</a></td>
        </tr>
      <% end %>
  </table>

</div>
