</br>
</br>
</br>
</br>
</br>
</br>
  <ul id="list">
  <% contents.each do |content| %>
      <li>
        <span id="title">
        <%= content[:page] %><br/></span>
        <span id="content">
        <%= content[:content] %><br/></span>

        <a href="/<%= content[:id] %>/edit">Edit</a>
      </li>

    <% end %>

  </ul>

<table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Size</th>
      <th>Image</th>
      <th>Price</th>
      <th>Options</th>
    </tr>
        <% products.each do |product| %>
        <tr>
          <td><%= product[:id] %></td>
          <td><%= product[:name] %></td>
          <td><%= product[:size] %></td>
          <td><%= product[:image] %></td>
          <td><%= product[:price] %></td>
          <td><a style="margin-right:5px" href="/product/<%= product[:id] %>/edit">Edit</a></td>
        </tr>
      <% end %>
  </table>


<%# -- <!-- <div id="about-1" class="dashboard_item"> About 1
<form action='/about1/edit' method='POST'>
      <input type="hidden" name="_method" value="PUT" />
      <textarea name='content'><%= content_store.content(1) </textarea><br/>
      <input type='submit'/>
    </form>

</div> -->
--%>
