
<div class="outerpagewrap">
				<div class="pagewrap" style="background: #332822 url(/images/hero_slim_shop.jpg) no-repeat center center;">
				<div class="pagecontent">
			<div class="pagecontentContent">
				<h1><a href="/shop">Shop</a></h1>
				<p><a href="/">Novo Coffee</a> >> <%= product[:name] %></p>
			</div>
			<!-- <div class="homeIcon"><a href=""></a></div> -->
		</div>
	</div>
</div>

	<div id="mainwrap" class="homewrap">

		<div id="main" class="clearfix">

			<div class="content fullwidth">


<div itemscope="" itemtype="http://schema.org/Product" id="product-5965" class="post-5965 product type-product status-publish hentry instock">
	<div class="leftContentSP">

<div class="imagesSPAll">

	<div class="images imagesSP">

		<a href="/images/<%=product[:image]%>" title="Novo Decaf" rel="prettyPhoto"><img class="check" src="/images/<%=product[:image]%>" data-o_src="/images/<%=product[:image]%>" data-o_title="" data-o_alt="" alt="" title="" style="opacity: 1;"></a>

		</div>
		<div class="thumbnails"></div>
</div>
	</div>

	<div class="rightContentSP">

	<div class="titleSP">
		<h2><%=product[:name]%></h2>
	</div>


<div class="cartPS">
	<div id="product_box">
		<form action="http://novocoffee.com/product/novo-decaf/?add-to-cart=5965" class="variations_form" method="post" enctype="multipart/form-data" data-product_id="5965">
			<div class="variations">
											<div class="rowSP">
							<div class="label"><label for="pa_size">Size</label></div>
							<div class="value"><select id="pa_size" name="attribute_pa_size">
								<option value="">Choose an option…</option>
								<% product[:size].split(',').each do |size| %>
									<option value="<%= size %>" class="active"><%= size %></option>
								<% end %>
							</select> </div>
						</div>

			</div>
			<div class="single_variation_wrap">
				<div class="single_variation"><span class="price"><span class="amount">$14.50</span></span></div>
				<div class="variations_button">
					<input type="hidden" name="variation_id" value="5966">
					<div class="quantity buttons_added"><input type="button" value="-" class="minus">
<input step="1" min="1" name="quantity" value="1" size="4" title="Qty" class="input-text qty text" maxlength="12"><input type="button" value="+" class="plus"></div>					<button type="submit" class="single_add_to_cart_button button alt">Add to cart</button>

				</div>

			</div>
			<div><input type="hidden" name="product_id" value="5965"></div>


		</form>
		<div class="messageSP">
					</div>
	</div>
</div>
	</div>
</div>
<div class="clear"></div>
		<h2 class="section_title">Featured <span>Products</span></h2>
		<a href="/shop" class="view_all">view all</a>
		<div class="clear"></div>
<div id="main" class="clearfix">
        <div class="homeRacent">
          <div class="wocategoryFull">
            <% products[3..5].each do |product| %>
             <div class="productR">
              <div class="one_third"><a href="/products/<%=product[:id]%>" title="<%= product[:name] %>">
                <div class="recentimage" style="background: none;">
                  <div class="image" style="background: none;">
                    <div class=""></div>
                    <img src="/images/<%= product[:image] %>" style="display: inline;">
                  </div>
                </div></a>
                <div class="recentdescription">
                  <h3><a href="/products/<%=product[:id]%>" title="<%= product[:name] %>"> <%= product[:name] %> </a></h3>
                  <h3 class="category"><span class="price"><span class="from">From: </span><span class="amount">$<%= product[:price].split(',').first %></span></span></h3>
                </div>
                <div class="recentCart">
                  <a href="/products/<%=product[:id] %>" rel="nofollow" data-product_id="7530" class="add_to_cart_button button product_type_variable">View Details</a>
                </div>
              </div>
            </div>
          <% end %>
              </div>
    		</div>
    </div>
</div>
							</div>
												</li></ul>
					</div>
				</div>

				<div class="clear"></div>

			</div>


		</div>
	</div>
